<main>

    <h1>
        Bahale's World.com offers it's clients a chance to bring their dream worlds to reality. We design your
            imaginary
    </h1>

    <div class="objective">
        <h2>Mission</h2>

        <p>*Bahale's world.com offers their clients a chance to bring their dream worlds to reality, a possibility to
            reduce costs, enhance customer loyality and add value. <br>
            All by providing only the desire of the client. Customer service and profitable growth are the two
            cornerstones of Bahale's world.com. We design your imaginary houses as they are.<br>
            *Bahale's world.com is an eco-friendly house designs website that seeks to offer an alternative resource to
            the mass market of house designs- Bali style
            <br> - Modern
            <br>- Contemporary
            <br>- Traditional
        </p>
        <br>

        <h2>Vision</h2>
        <p>
            *Today the world needs planning. Bahale's world.com is a planned world that always have a plan. A planned
            home gives a planned life
        </p>

        <br><br>
        
        <h2>Goal</h2>
        <p>
            *For a lifetime Bahale's world.com will be giving and restoring life to every client's world. We are here to
            plan it all for you.
        </p>


    </div>

    <div class="servicess">
        <h2>Our Services</h2>

        <div class="serviceoffered">
            <div class="house">
                <h4>House designs</h4>
                <p>
                    <br>-Bali style
                    <br>-Modern
                    <br>-Contemporary
                    <br>-Traditional
                    <br>-Townhouse
                </p> <br>

            </div>

            <div class="windoFrosting">
                <h4>Window frosting</h4>
                <p>
                    <br>-Vinyl frosting
                    <br> - Window Tingting
                    <br>- Contra vision
                    <br> - Branding
                    <br>- Residentials
                    <br>- Stickers
                </p> <br>
            </div>


            <div class="Wallaper">
                <h4>Wallpapers</h4>
                <p>
                    <br>-Classic
                    <br>- Modern
                    <br>- Traditional
                </p> <br>
            </div>
        </div>
            <br>
        <p>
            Bahale's World.com is an eco-friendly house design, window frosting and wallpaper website that seeks to offer an
            alternative resource to the mass market.
        </p>


    </div>









</main>